.glow {
    width: 170px;
    height: 47px;
    position: absolute;
    left: -5px;
    top: -8px;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0, black 20%, black 80%, transparent 100%);
    z-index: -1;
    opacity: 0; /* 0/1 */
    transition: opacity 2s;
    display: flex;
}
.glow > div {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-mask-image: linear-gradient(to right, transparent 0, black 20%, black 80%, transparent 100%);
}
.glow.glow-active {
    opacity: 1;
}
.glow .tex {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(img/tex/wind.png);
    background-size: 94px 58px;
    background-repeat: repeat;
    background-position: 0px 0px;

    animation: glow-move 0.5s 0s infinite;
    animation-timing-function: linear;

    -webkit-mask-image: url(img/mask/m13.png);
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: 74px 62px;
    -webkit-mask-position: -2px -10px;
    
}
@keyframes glow-move {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 94px 0px;
    }
}
.glow.glow-noGlow {
    display: none !important;
}
.glow.glow-green .tex {
    background-image: url(img/tex/green.png)
}
.glow.glow-blue .tex {
    background-image: url(img/tex/aura2.png)
}
.glow.glow-yellow .tex {
    background-image: url(img/tex/cyber.png)
}
.glow.glow-orange .tex {
    background-image: url(img/tex/fire2.png)
}
.glow.glow-purple .tex {
    background-image: url(img/tex/purple.png)
}
.glow.glow-red .tex {
    background-image: url(img/tex/fire4.png)
}
.glow.glow-dark .tex {
    background-image: url(img/tex/dark2.png)
}
.glow.glow-dark2 .tex {
    background-image: url(img/tex/dark3.png)
}
.glow.glow-rock .tex {
    background-image: url(img/tex/rock.png)
}
.glow.glow-blue2 .tex {
    background-image: url(img/tex/fireblueblack.png)
}
.glow.glow-fire .tex {
    background-image: url(img/tex/fire4.png)
}
.glow.glow-sonic .tex {
    background-image: url(img/tex/sonic.png)
}
.glow.glow-swirl .tex {
    background-image: url(img/tex/swirl.png)
}
.glow.glow-water .tex {
    background-image: url(img/tex/water2.png)
}
.glow.glow-jewel .tex {
    background-image: url(img/tex/jewel.png)
}
.glow.glow-prism .tex {
    background-image: url(img/tex/aura3.png)
}
.glow.glow-fireblue .tex {
    background-image: url(img/tex/fireblue.png)
}
.glow.glow-fireblue2 .tex {
    background-image: url(img/tex/fireblue2.png)
}
.glow.glow-rainbow .tex {
    background-image: url(img/tex/rainbow.png)
}
