body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#settings-panel {
    z-index: 2;
    background-color: #292929;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
}
#settings-header {
    display: flex;
    flex-direction: row;
    width: calc(100% - 10px);
    padding: 5px;
    background-color: #191919;
}
#settings-title {
    flex: 1;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 2px;
}
.btn {
    padding: 5px;
    font-size: 14px;
    background-color: #0a6f6f;
    color: #f3f3f3;
    margin-right: 9px;
    border: solid thin #163944;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}
.btn a {
    text-decoration: none;
    color: white;
}
#settings-help {
    background-color: #565656;
}
#settings-apply:hover {
    background-color: #19a5a5;
}
#settings-feature {
    background-color: #25ff17;
}
#settings-body {
    width: 100%;
    flex: 1;
    display: flex;
    overflow: auto;
    flex-direction: column;
}
.settings-category {
    display: flex;
    flex-direction: column;
}
.hide {
    display: none !important;
}
/* ===================== */
.settings-row {
    color: white;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 2px;
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #353535;
    border: solid thin black;
}
.job-icon {
    height: 20px;
    margin-bottom: -3px;
}
.settings-row > span {
    font-weight: bold;
}
.row {
    display: flex;
    flex-direction: row;
}
.row-title {
    flex: 1;
}
.settings-row-2 {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 2px;
    margin: 5px;
    background-color: #464646;
    border: solid thin #272727;
}
.settings-collapse {
    padding: 5px;
    background-color: #060606;
    color: white;
    padding-left: 10px;
    font-size: 15px;
}
.settings-collapse-button {
    font-family: monospace;
    margin-right: 20px;
    font-size: 19px;
}
.codex-order {
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.tag {
    font-size: 11px;
    font-family: Consolas;
    border: solid thin white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin-left: 5px;
}
.tag-red {
    color: #ff7a7a;
    border-color: #ff7a7a;
}
.tag-yellow {
    color: #ffe94b;
    border-color: #ffe94b;
}
.tag-green {
    color: #25ff17;
    border-color: #25ff17;
}